html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: 0 auto;
  font-family: "Work Sans";
  font-size: 14px;
  background-color: #fffef8;
}
.setting-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 59px;
  width: 100%;
  gap: 5px;
  z-index: 3;
  position: fixed;
  left: 0;
  top: 0;
}
.setting-header .fa-pen-to-square {
  color: #fff;
}
.setting-header p {
  color: white;
}
header {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header.setting-mode {
  margin-top: 88px;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
h2 .fa-pen-to-square {
  font-size: 14px;
  color: black;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li,
.nav-link {
  padding: 0 10px;
  font-size: 1.2em;
  text-decoration: none;
  color: black;
}

.nav-link:visited {
  color: black;
}

li:hover .nav-link:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio {
  display: flex;
  flex-direction: column;
}
#portfolio h2 {
  text-align: center;
}
.projects-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 31px;
  margin-top: 139px;
  margin-bottom: 51px;
}
.projects-title .setting-mode {
  margin-bottom: 92px;
}

.modifier-projects {
  display: flex;
  font-size: 14px;
  gap: 10px;
  cursor: pointer;
}

.filters-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 51px;
}

.filter {
  height: 37px;
  border-radius: 60px;
  padding: 10px 20px;
  border: 1px solid #1d6154;
  color: #1d6154;
  background-color: white;
  font-weight: 600;
  cursor: pointer;
}

.filter-active {
  background-color: #1d6154;
  color: white;
  cursor: default;
}

.modal-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0000004d;
  z-index: 1;
}
.modal-gallery,
.modal-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  width: 630px;
  position: absolute;
  z-index: 2;
  top: 660px;
  /* justify-self: center; */
  left: 405px;
  padding: 60px 105px 45px;
}

.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 26px;
  right: 30px;
}

.modal-gallery h3,
.modal-menu h3 {
  font-size: 26px;
  font-family: "Work Sans";
  margin-bottom: 46px;
}

.modal-works {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-bottom: solid #b3b3b3 1px;
  width: 100%;
  padding-bottom: 67px;
  gap: 29px 10px;
}
.modal-works figure {
  position: relative;
}
.modal-works figure img {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 17px;
  height: 17px;
  position: absolute;
  z-index: 2;
  right: 5px;
  top: 6px;
  border-radius: 2px;
  border: none;
}

.fa-trash-can {
  color: white;
  font-size: 10px;
}

.connect-button,
.add-menu-button,
.validate-button {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin-top: 7px;
  margin-bottom: 28px;
  border: none;
  padding: 10px 38px;
  font-size: 14px;
  cursor: pointer;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  align-self: center;
}

.add-menu-button,
.validate-button {
  padding: 10px 50px;
  height: 36px;
  width: 237px;
  margin-top: 38px;
  margin-bottom: 0;
}

.not-valid {
  background-color: #a7a7a7;
  cursor: unset;
}

.modal-menu {
  padding: 60px 105px 55px;
}

.return-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 26px;
  left: 30px;
}

.add-photo {
  width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: #e8f1f6;
}

.fa-image {
  font-size: 76px;
  color: #b9c5cc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
  margin-bottom: 6px;
}

.file-input {
  position: relative;
  width: 173px;
  height: 36px;
  display: flex;
}

.file-input input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.file-input .photo-file-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #306685;
  background-color: #cbd6dc;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

.add-photo p {
  color: #444444;
  font-family: "Work Sans";
  font-size: 10px;
  text-align: center;
  line-height: 16px;
  margin-bottom: 19px;
}

.modal-error {
  color: red;
  font-size: 12px;
}

.photo-details {
  width: 420px;
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  margin-bottom: 9px;
  padding-bottom: 47px;
  border-bottom: solid 1px #b3b3b3;
}

label[for="title"],
label[for="category"] {
  margin-top: 21px;
}

.photo-details input[type="text"],
.photo-details select {
  background-color: white;
  border: none;
  box-shadow: 0 4px 16px #00000017;
}

#title,
#category {
  width: 420px;
  height: 51px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  border: none;
  box-shadow: 4px #00000017;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-bottom: 57px;
}

.gallery img {
  width: 100%;
  margin-bottom: 7px;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.preview-image {
  display: block;
  height: 193px;
  width: 129px;
  object-fit: cover;
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer {
  background-color: white;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  margin: 0;
  padding: 24px 0;
}

html {
  width: 100%;
}

.login-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  /* margin: 0 150px; */
}

.login-body header {
  flex-direction: row;
  justify-content: space-between;
}

.login-section {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  margin-top: 37px;
  width: 37%;
  display: flex;
  flex-direction: column;
}

.error-message {
  color: red;
  margin: 5px 0;
  font-family: "Syne";
  font-size: 12px;
}

.login-field {
  margin-top: 7px;
  margin-bottom: 30px;
  height: 51px;
  border: transparent;
  background-color: #fff;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.09);
  outline: none;
  padding-left: 5px;
}

.forgot-password {
  color: black;
  text-decoration: underline;
  margin-bottom: 355px;
}

.forgot-password:visited {
  color: black;
}

.hidden {
  display: none;
}
